.wrapper {
  font-size: 16px;
  font-weight: 700;
  min-width: 110px;
  padding: 0 16px;
  height: 36px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  background: var(--white);
  color: var(--primary-link-color);
  border: 1px solid rgba(22, 24, 35, 0.2);
  border-radius: 4px;

  + .wrapper {
    margin-left: 16px;
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  .title + .icon,
  .icon + .title {
    margin-left: 8px;
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border: 1px solid var(--primary);

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.rounded {
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-radius: 52px;
}

.large {
  min-width: 160px;
}

.small {
  min-width: 88px;
}

.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}
