.wrapper {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 1);
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  width: 100vw;
  height: auto;
}

.content {
  margin-right: 16px;
  margin-left: 16px;
  width: 60%;
  max-width: 692px;
  padding: 24px 0;
}
