.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 9px 16px;
  border-radius: 4px;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.avatar {
  width: 20%;
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.account {
  width: 80%;

  .account-title {
    font-size: 16px;
    line-height: 22px;
    color: var(--primary-text-color);
  }

  .account-subtitle {
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
  }
}
