.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  z-index: 1000;
  position: relative;
}

.span-tippy {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  width: 100vw;
  height: 60px;
  padding-right: 24px;
  padding-left: 20px;

  .leftContainer {
    min-width: 300px;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  justify-items: center;

  .btn-create-effects {
    margin-left: 16px;
    cursor: pointer;
    padding: 0 4px;
    width: 32px;
    height: 32px;
    padding-top: 5px;
    user-select: none;
  }

  .see-more {
    margin-left: 16px;
    cursor: pointer;
    padding: 0 4px;
  }

  .message,
  .inbox,
  .profile {
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    padding: 3px 3px 0;
    user-select: none;

    .profileImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .inbox {
    position: relative;
    .inboxSupBadge {
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      left: 16px;
      background: var(--primary);
      min-width: 20px;
      height: 20px;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 10px;
      position: absolute;
      top: -20%;
    }
  }
}
